extends layout 

block content
  table(style="width:100%")  
    tr
        td 
            form(action=`/books/${id}/edit`, method="get")
                input(type='submit', name="edit", value="Edit Entry")
        td
            form(action=`/books/${id}/delete`, method="get")
                input(type='submit', name="delete", value="Delete", class="warning")
          
  table(style="width:100%")  
    tr
        th Title 
        th Author
        th Genre
        th Year
    tr 
        td=title
        td=author 
        td=genre
        td=year
        
    br
    
  br
  a(href="/") Home &larr;
    