extends layout

block content
    h1= title
  
    form(action='/books/new', method="post")
        div
            label(for=title) Title: 
            input(type='text', name='title', value=book.title)
        br    
        div
            label(for=author) Author: 
            input(type='text', name='author', value=book.author)
        br
        div
            label(for=genre) Genre: 
            input(type='text', name='genre', value=book.genre)
        br
        div
            label(for=year) Year: 
            input(type='text', name='year', value=book.year)
        br    
        div 
            input(type='submit', name='create', value="Create New Book") 
        br
    form(action="/books", method="get")    
        div
            input(type='submit', name='cancel', value="Cancel")      