extends layout 

block content   
    h1 Edit #{book.title}
  
    if errors
        h1.error Oops! 
        each error in errors
            p.error=error.message
        

    form(action=`/books/${book.id}`, method="post")
        div
            label(for="title") Title: 
            input(type='text', id="title", name='title', value=book.title)
        br    
        div
            label(for="author") Author: 
            input(type='text', id="author", name='author', value=book.author)
        br
        div
            label(for="genre") Genre: 
            input(type='text', id="genre", name='genre', value=book.genre)
        br
        div
            label(for="year") Year: 
            input(type='text', id="year", name='year', value=book.year)
        br    
        div 
            input(type='submit', name='edit', value="Edit Entry") 
        br
    form(action=`/books/${book.id}`, method="get")    
        input(type='submit', name='cancel', value="Cancel")   
        br
        br
    form(action=`/books/${id}/delete`, method="get")
        input(type='submit', name="delete", value="Delete Entry", class="warning")        